.marquee {
  display: flex;
  flex-wrap: nowrap;
  animation: marquee 25s linear infinite;
  width: fit-content;
  will-change: transform;
}

.marquee.hovered {
  animation-play-state: paused;
  transition: all 0.5s ease-in-out;
}

.feature-carousel-wrapper {
  overflow-x: visible;
  padding-left: 2rem;
  padding-right: 2rem;
  position: relative;
}


@keyframes spin-slow {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-spin-slow {
  animation: spin-slow 20s linear infinite;
}



@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Optional: Smooth inner shadow for visual polish */
.shadow-inner {
  box-shadow: inset 15px 0 20px -15px rgba(0, 0, 0, 0.2),
              inset -15px 0 20px -15px rgba(0, 0, 0, 0.2);
}
