.carousel-inner {
  width: 100%;
  height: 720px;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
   margin: 0;
  padding: 0;
}

/* Media Queries for responsive heights */
@media (max-width: 1200px) {
  .carousel-inner {
    height: 635px;
    margin: 0;
  padding: 0;
  }
}

@media (max-width: 1000px) {
  .carousel-inner {
    height: 550px;
    margin: 0;
  padding: 0;
  }
}

@media (max-width: 768px) {
  .carousel-inner {
    height: 449px;
    margin: 0;
  padding: 0;
  }
}

@media (max-width: 480px) {
  .carousel-inner {
    height: 281px;
    margin: 0;
  padding: 0;
  }
}